## Context
#### Mumbai is the capital city of the Indian state of Maharashtra. It is a major financial and cultural hub in India, with a population of over 20 million people. The real estate market in Mumbai is known to be one of the most expensive in India. This house price dataset for Mumbai contains information on the sale prices of residential properties in the city, such as apartments and houses. It also includes information on the location, size, and age of the properties.

## Columns
### bhk
#### contains the number of bedroom, hall, kitchen collectively.

### type
#### contains the type of house, type can be one of the following:

####  • apartment
####  • villa
#### • independent house
#### • studio apartment

#### Note: the majority of data is based on one of the above types.

### locality
#### contains information about the locality of house.

### area
#### contains the area of house, unit of measurement is sq ft.

### price
#### contains the price value for the house.

### price_unit
#### contains the price unit for the house which can be from given below:

#### • L -> represents Lakh (1 Lakh = 1,00,000 and 10 Lakhs = 1 Million)
#### • Cr -> represents Crore (1 Crore = 1,00,00,000 and 10 Million = 1 Crore)

#### Note: the currency of price here is Indian Rupee.

### region
#### contains the region of the house.

### status
#### contains information about the status of the house which can be either of given below:

#### • Ready to move -> the house is ready to use
#### • Under Construction -> the house is currently under construction

### age
#### contains the information regarding age of house which can any of below:

#### • New: a new house for sale
#### • Resale: an old house for resale

#### Note: the ‘unknown’ values in age represents that no data available for that instance, unknown is placeholder for null values in age.

## 1. Import Necessary Libraries

In [1]:
import re
import string
import pandas as pd

## 2. Import Dataset

In [2]:
data = pd.read_csv("Datasets\Raw_Property.csv")
data

,Property_Name,Location,Price,Rate_SqFt,Area_Tpye,Bedroom,Bathroom,Floor_No,Property_Age,Availability
0,Omkar Alta Monte,"W.E.Highway, Malad East, Mumbai",5 Crore,"17,241",Super Built up area 2900(269.42 sq.m.)Built Up...,3,4,14th,0 to 1 Year Old,Ready to move
1,T Bhimjyani Neelkanth Woods,"Manpada, Thane, Mumbai",2.4 Crore,"12,631",Super Built up area 1900(176.52 sq.m.)Built Up...,3,3,8th,1 to 5 Year Old,Ready to move Property
2,Legend 1 Pramila Nagar,"Dahisar West, Mumbai",95 Lac,"15,966",Super Built up area 595(55.28 sq.m.),1,2,3rd,10+ Year Old,Ready to move
3,Unnamed Property,"Vidyavihar West, Vidyavihar West, Central Mumb...",3.75 Crore,"25,862",Built Up area: 1450 (134.71 sq.m.),3,3,1st,5 to 10 Year Old,Ready to move
4,Unnamed Property,"176 Cst Road, Kalina, Mumbai 400098, Santacruz...",3.5 Crore,"39,954",Carpet area: 876 (81.38 sq.m.),2,2,5th,5 to 10 Year Old,Ready to move
...,...,...,...,...,...,...,...,...,...,...
2576,Shagun White Woods,"Sector 23 Ulwe, Navi-Mumbai, Mumbai",1.22 Crore,"10,338",Built Up area: 1180 (109.63 sq.m.),2,2,2nd,1 to 5 Year Old,Ready to move
2577,Guru Anant,"Sector 2 Ulwe, Navi-Mumbai, Mumbai",88 Lac,"8,073",Built Up area: 1090 (101.26 sq.m.),2,2,11st,0 to 1 Year Old,Ready to move
2578,Balaji Mayuresh Delta,"Ulwe, Navi-Mumbai, Mumbai",1.37 Crore,"10,579",Built Up area: 1295 (120.31 sq.m.),2,2,6th,1 to 5 Year Old,Ready to move
2579,Balaji Mayuresh Delta,"Ulwe, Navi-Mumbai, Mumbai",1.71 Crore,"9,243",Built Up area: 1850 (171.87 sq.m.),3,3,6th,1 to 5 Year Old,Ready to move
2580,Gurukrupa Tulsi Heights,"Ulwe, Navi-Mumbai, Mumbai",95 Lac,"8,636",Built Up area: 1100 (102.19 sq.m.),2,2,4th,0 to 1 Year Old,Ready to move

In [3]:
data.shape

(2581, 10)

## 3. Data Preprocessing

### 3.1 Remove the Unwanted Symbols and text

In [4]:
data["Property_Age"] = data["Property_Age"].str.replace(' Old', '')
data

,Property_Name,Location,Price,Rate_SqFt,Area_Tpye,Bedroom,Bathroom,Floor_No,Property_Age,Availability
0,Omkar Alta Monte,"W.E.Highway, Malad East, Mumbai",5 Crore,"17,241",Super Built up area 2900(269.42 sq.m.)Built Up...,3,4,14th,0 to 1 Year,Ready to move
1,T Bhimjyani Neelkanth Woods,"Manpada, Thane, Mumbai",2.4 Crore,"12,631",Super Built up area 1900(176.52 sq.m.)Built Up...,3,3,8th,1 to 5 Year,Ready to move Property
2,Legend 1 Pramila Nagar,"Dahisar West, Mumbai",95 Lac,"15,966",Super Built up area 595(55.28 sq.m.),1,2,3rd,10+ Year,Ready to move
3,Unnamed Property,"Vidyavihar West, Vidyavihar West, Central Mumb...",3.75 Crore,"25,862",Built Up area: 1450 (134.71 sq.m.),3,3,1st,5 to 10 Year,Ready to move
4,Unnamed Property,"176 Cst Road, Kalina, Mumbai 400098, Santacruz...",3.5 Crore,"39,954",Carpet area: 876 (81.38 sq.m.),2,2,5th,5 to 10 Year,Ready to move
...,...,...,...,...,...,...,...,...,...,...
2576,Shagun White Woods,"Sector 23 Ulwe, Navi-Mumbai, Mumbai",1.22 Crore,"10,338",Built Up area: 1180 (109.63 sq.m.),2,2,2nd,1 to 5 Year,Ready to move
2577,Guru Anant,"Sector 2 Ulwe, Navi-Mumbai, Mumbai",88 Lac,"8,073",Built Up area: 1090 (101.26 sq.m.),2,2,11st,0 to 1 Year,Ready to move
2578,Balaji Mayuresh Delta,"Ulwe, Navi-Mumbai, Mumbai",1.37 Crore,"10,579",Built Up area: 1295 (120.31 sq.m.),2,2,6th,1 to 5 Year,Ready to move
2579,Balaji Mayuresh Delta,"Ulwe, Navi-Mumbai, Mumbai",1.71 Crore,"9,243",Built Up area: 1850 (171.87 sq.m.),3,3,6th,1 to 5 Year,Ready to move
2580,Gurukrupa Tulsi Heights,"Ulwe, Navi-Mumbai, Mumbai",95 Lac,"8,636",Built Up area: 1100 (102.19 sq.m.),2,2,4th,0 to 1 Year,Ready to move

In [5]:
data["Rate_SqFt"] = data["Rate_SqFt"].str.replace(',', '')

In [6]:
data["Availability"].unique()

array([' Ready to move', ' Ready to move Property', ' Under Construction',
       ' Under Construction Property'], dtype=object)

In [7]:
data["Availability"] = data["Availability"].str.title()
data["Availability"] = data["Availability"].str.replace(' Property', '')
data["Availability"] = [i.lstrip() for i in data["Availability"]]

In [8]:
data["Availability"].unique()

array(['Ready To Move', 'Under Construction'], dtype=object)

### 3.2 Set Column Area in SqFt

In [11]:
area = []
for i in range(2581):
    clean_sqft = re.sub('[^0-9.]', " ", data["Area_Tpye"][i])
    area.append(clean_sqft.split()[0])

In [12]:
data["Area_SqFt"] = area

### 3.3 Set Column Type of Carpet Area

In [13]:
carpet = []
for i in range(2581):
    clean_carpet = re.sub('[^a-zA-Z]', " ", data["Area_Tpye"][i])
    carpet.append(clean_carpet.split()[0] + ' ' + clean_carpet.split()[1])
data["Area_Tpye"] = carpet
data

,Property_Name,Location,Price,Rate_SqFt,Area_Tpye,Bedroom,Bathroom,Floor_No,Property_Age,Availability,Area_SqFt
0,Omkar Alta Monte,"W.E.Highway, Malad East, Mumbai",5 Crore,17241,Super Built,3,4,14th,0 to 1 Year,Ready To Move,2900
1,T Bhimjyani Neelkanth Woods,"Manpada, Thane, Mumbai",2.4 Crore,12631,Super Built,3,3,8th,1 to 5 Year,Ready To Move,1900
2,Legend 1 Pramila Nagar,"Dahisar West, Mumbai",95 Lac,15966,Super Built,1,2,3rd,10+ Year,Ready To Move,595
3,Unnamed Property,"Vidyavihar West, Vidyavihar West, Central Mumb...",3.75 Crore,25862,Built Up,3,3,1st,5 to 10 Year,Ready To Move,1450
4,Unnamed Property,"176 Cst Road, Kalina, Mumbai 400098, Santacruz...",3.5 Crore,39954,Carpet area,2,2,5th,5 to 10 Year,Ready To Move,876
...,...,...,...,...,...,...,...,...,...,...,...
2576,Shagun White Woods,"Sector 23 Ulwe, Navi-Mumbai, Mumbai",1.22 Crore,10338,Built Up,2,2,2nd,1 to 5 Year,Ready To Move,1180
2577,Guru Anant,"Sector 2 Ulwe, Navi-Mumbai, Mumbai",88 Lac,8073,Built Up,2,2,11st,0 to 1 Year,Ready To Move,1090
2578,Balaji Mayuresh Delta,"Ulwe, Navi-Mumbai, Mumbai",1.37 Crore,10579,Built Up,2,2,6th,1 to 5 Year,Ready To Move,1295
2579,Balaji Mayuresh Delta,"Ulwe, Navi-Mumbai, Mumbai",1.71 Crore,9243,Built Up,3,3,6th,1 to 5 Year,Ready To Move,1850
2580,Gurukrupa Tulsi Heights,"Ulwe, Navi-Mumbai, Mumbai",95 Lac,8636,Built Up,2,2,4th,0 to 1 Year,Ready To Move,1100

In [14]:
data["Area_Tpye"] = data["Area_Tpye"].str.title()

In [15]:
data.Area_Tpye.unique()

array(['Super Built', 'Built Up', 'Carpet Area', 'Plot Area'],
      dtype=object)

In [16]:
data["Area_Tpye"] = data.Area_Tpye.str.replace('Super Built', 'Super Built Up')
data["Area_Tpye"] = data.Area_Tpye.str.replace('Built Up', 'Built Up Area')
data["Area_Tpye"] = data.Area_Tpye.str.replace('Carpet Area ','Carpet Area')

In [17]:
data.Area_Tpye.unique()

array(['Super Built Up Area', 'Built Up Area', 'Carpet Area', 'Plot Area'],
      dtype=object)

### 3.4 Remove Unwanted Text from Floor No

In [18]:
data["Floor_No"] = data["Floor_No"].str.replace('Ground', '0')
data["Floor_No"] = data["Floor_No"].str.replace('Basement', '-1')

In [19]:
floor= []
for i in range(len(data)):
    clean_floor = re.sub('[^0-9.]', " ", data["Floor_No"][i])
    floor.append(clean_floor)
data["Floor_No"] = floor
data

,Property_Name,Location,Price,Rate_SqFt,Area_Tpye,Bedroom,Bathroom,Floor_No,Property_Age,Availability,Area_SqFt
0,Omkar Alta Monte,"W.E.Highway, Malad East, Mumbai",5 Crore,17241,Super Built Up Area,3,4,14,0 to 1 Year,Ready To Move,2900
1,T Bhimjyani Neelkanth Woods,"Manpada, Thane, Mumbai",2.4 Crore,12631,Super Built Up Area,3,3,8,1 to 5 Year,Ready To Move,1900
2,Legend 1 Pramila Nagar,"Dahisar West, Mumbai",95 Lac,15966,Super Built Up Area,1,2,3,10+ Year,Ready To Move,595
3,Unnamed Property,"Vidyavihar West, Vidyavihar West, Central Mumb...",3.75 Crore,25862,Built Up Area,3,3,1,5 to 10 Year,Ready To Move,1450
4,Unnamed Property,"176 Cst Road, Kalina, Mumbai 400098, Santacruz...",3.5 Crore,39954,Carpet Area,2,2,5,5 to 10 Year,Ready To Move,876
...,...,...,...,...,...,...,...,...,...,...,...
2576,Shagun White Woods,"Sector 23 Ulwe, Navi-Mumbai, Mumbai",1.22 Crore,10338,Built Up Area,2,2,2,1 to 5 Year,Ready To Move,1180
2577,Guru Anant,"Sector 2 Ulwe, Navi-Mumbai, Mumbai",88 Lac,8073,Built Up Area,2,2,11,0 to 1 Year,Ready To Move,1090
2578,Balaji Mayuresh Delta,"Ulwe, Navi-Mumbai, Mumbai",1.37 Crore,10579,Built Up Area,2,2,6,1 to 5 Year,Ready To Move,1295
2579,Balaji Mayuresh Delta,"Ulwe, Navi-Mumbai, Mumbai",1.71 Crore,9243,Built Up Area,3,3,6,1 to 5 Year,Ready To Move,1850
2580,Gurukrupa Tulsi Heights,"Ulwe, Navi-Mumbai, Mumbai",95 Lac,8636,Built Up Area,2,2,4,0 to 1 Year,Ready To Move,1100

In [20]:
data['Location'].unique()

array(['W.E.Highway, Malad East,  Mumbai', ' Manpada, Thane, Mumbai',
       ' Dahisar West,  Mumbai', ...,
       '1503, Mira Road East, Mira Road And Beyond, Mumbai',
       ' Sector 22 Kamothe, Navi-Mumbai, Mumbai',
       ' Sector 2 Ulwe, Navi-Mumbai, Mumbai'], dtype=object)

In [21]:
data['Location'] = [i.lstrip() for i in data['Location']]
data['Location'].unique()

array(['W.E.Highway, Malad East,  Mumbai', 'Manpada, Thane, Mumbai',
       'Dahisar West,  Mumbai', ...,
       '501, Sector 5 Ulwe, Navi-Mumbai, Mumbai',
       '1503, Mira Road East, Mira Road And Beyond, Mumbai',
       'Sector 22 Kamothe, Navi-Mumbai, Mumbai'], dtype=object)

### 3.5 Set Region Column

In [22]:
location = []
for i in range(2581):
    clean_location = re.sub('[^a-zA-Z]', " ", data['Location'][i])
    location.append(clean_location)
data['Region'] = location

In [23]:
data['Region'] = data['Region'].str.title()
words = ['[0-9]', 'East','West', 'South', 'Suburbs', 'Sector', 'Beyond', 'And Beyond', 'Scheme']
data['Region'] = data['Region'].str.replace('|'.join(words), "", regex = True).str.strip()

In [24]:
location = []
for i in range(2581):
    try:
        location.append(data['Region'][i].split()[-3] + ' ' + data['Region'][i].split()[-2])
    except:
        location.append(data['Region'][i].split()[-2] + ' ' + data['Region'][i].split()[-1])
        
data['Region'] = location
data

,Property_Name,Location,Price,Rate_SqFt,Area_Tpye,Bedroom,Bathroom,Floor_No,Property_Age,Availability,Area_SqFt,Region
0,Omkar Alta Monte,"W.E.Highway, Malad East, Mumbai",5 Crore,17241,Super Built Up Area,3,4,14,0 to 1 Year,Ready To Move,2900,Highway Malad
1,T Bhimjyani Neelkanth Woods,"Manpada, Thane, Mumbai",2.4 Crore,12631,Super Built Up Area,3,3,8,1 to 5 Year,Ready To Move,1900,Manpada Thane
2,Legend 1 Pramila Nagar,"Dahisar West, Mumbai",95 Lac,15966,Super Built Up Area,1,2,3,10+ Year,Ready To Move,595,Dahisar Mumbai
3,Unnamed Property,"Vidyavihar West, Vidyavihar West, Central Mumb...",3.75 Crore,25862,Built Up Area,3,3,1,5 to 10 Year,Ready To Move,1450,Central Mumbai
4,Unnamed Property,"176 Cst Road, Kalina, Mumbai 400098, Santacruz...",3.5 Crore,39954,Carpet Area,2,2,5,5 to 10 Year,Ready To Move,876,Santacruz Mumbai
...,...,...,...,...,...,...,...,...,...,...,...,...
2576,Shagun White Woods,"Sector 23 Ulwe, Navi-Mumbai, Mumbai",1.22 Crore,10338,Built Up Area,2,2,2,1 to 5 Year,Ready To Move,1180,Navi Mumbai
2577,Guru Anant,"Sector 2 Ulwe, Navi-Mumbai, Mumbai",88 Lac,8073,Built Up Area,2,2,11,0 to 1 Year,Ready To Move,1090,Navi Mumbai
2578,Balaji Mayuresh Delta,"Ulwe, Navi-Mumbai, Mumbai",1.37 Crore,10579,Built Up Area,2,2,6,1 to 5 Year,Ready To Move,1295,Navi Mumbai
2579,Balaji Mayuresh Delta,"Ulwe, Navi-Mumbai, Mumbai",1.71 Crore,9243,Built Up Area,3,3,6,1 to 5 Year,Ready To Move,1850,Navi Mumbai
2580,Gurukrupa Tulsi Heights,"Ulwe, Navi-Mumbai, Mumbai",95 Lac,8636,Built Up Area,2,2,4,0 to 1 Year,Ready To Move,1100,Navi Mumbai

In [25]:
data.Region.value_counts().head(30)

Navi Mumbai          803
Central Mumbai       226
Mira Road            201
Mumbai Thane         166
Mumbai Harbour       104
Dombivli Thane        82
Estate Thane          80
Road Thane            47
Kandivali Mumbai      44
Manpada Thane         42
Thane Thane           41
Parel Mumbai          36
Malad Mumbai          31
Naupada Thane         30
Vadavali Thane        29
Balkum Thane          29
Nagar Thane           25
Andheri Mumbai        24
Dahisar Mumbai        24
Borivali Mumbai       23
Goregaon Mumbai       22
Thakur Village        21
Kalher Thane          19
Pokhran Thane         16
Santacruz Mumbai      13
Majiwada Thane        12
Jankalyan Nagar       12
Kavesar Thane         11
Dadar Mumbai          11
Prabhadevi Mumbai     11
Name: Region, dtype: int64

In [26]:
add = []
for i in range(2581):
    clean_add = re.sub('[^a-zA-Z0-9]', " ", data['Location'][i])
    add.append(clean_add)
data['Location'] = add

data['Location'] = data['Location'].str.replace('   ', ' ')
data['Location'] = data['Location'].str.replace('  ',' ')

In [27]:
data

,Property_Name,Location,Price,Rate_SqFt,Area_Tpye,Bedroom,Bathroom,Floor_No,Property_Age,Availability,Area_SqFt,Region
0,Omkar Alta Monte,W E Highway Malad East Mumbai,5 Crore,17241,Super Built Up Area,3,4,14,0 to 1 Year,Ready To Move,2900,Highway Malad
1,T Bhimjyani Neelkanth Woods,Manpada Thane Mumbai,2.4 Crore,12631,Super Built Up Area,3,3,8,1 to 5 Year,Ready To Move,1900,Manpada Thane
2,Legend 1 Pramila Nagar,Dahisar West Mumbai,95 Lac,15966,Super Built Up Area,1,2,3,10+ Year,Ready To Move,595,Dahisar Mumbai
3,Unnamed Property,Vidyavihar West Vidyavihar West Central Mumbai...,3.75 Crore,25862,Built Up Area,3,3,1,5 to 10 Year,Ready To Move,1450,Central Mumbai
4,Unnamed Property,176 Cst Road Kalina Mumbai 400098 Santacruz Ea...,3.5 Crore,39954,Carpet Area,2,2,5,5 to 10 Year,Ready To Move,876,Santacruz Mumbai
...,...,...,...,...,...,...,...,...,...,...,...,...
2576,Shagun White Woods,Sector 23 Ulwe Navi Mumbai Mumbai,1.22 Crore,10338,Built Up Area,2,2,2,1 to 5 Year,Ready To Move,1180,Navi Mumbai
2577,Guru Anant,Sector 2 Ulwe Navi Mumbai Mumbai,88 Lac,8073,Built Up Area,2,2,11,0 to 1 Year,Ready To Move,1090,Navi Mumbai
2578,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,1.37 Crore,10579,Built Up Area,2,2,6,1 to 5 Year,Ready To Move,1295,Navi Mumbai
2579,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,1.71 Crore,9243,Built Up Area,3,3,6,1 to 5 Year,Ready To Move,1850,Navi Mumbai
2580,Gurukrupa Tulsi Heights,Ulwe Navi Mumbai Mumbai,95 Lac,8636,Built Up Area,2,2,4,0 to 1 Year,Ready To Move,1100,Navi Mumbai

### 3.6 Replace the all Values in Lac's from Price Column

In [32]:
def convertor(x):
    if 'Lac' in x:
        return f"{(float(x.strip('Lac')) * 1):,.1f}"
    elif 'Crore' in x:
        return f"{(float(x.strip('Crore')) * 100):,.1f}"
    
data['Price_Lakh'] = data['Price'].apply(convertor)
data['Price_Lakh'] = data['Price_Lakh'].str.replace(',', '')

In [33]:
data.isna().sum()

Property_Name    0
Location         0
Price            0
Rate_SqFt        0
Area_Tpye        0
Bedroom          0
Bathroom         0
Floor_No         0
Property_Age     0
Availability     0
Area_SqFt        0
Region           0
Price_Lakh       1
dtype: int64

In [34]:
data.dropna(inplace=True)
data.reset_index(drop=True, inplace=True)

### 3.8 Sort the all Columns

In [35]:
data = data[['Property_Name','Location','Region','Property_Age','Availability','Area_Tpye','Area_SqFt','Rate_SqFt','Floor_No','Bedroom','Bathroom','Price_Lakh']]
data

,Property_Name,Location,Region,Property_Age,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
0,Omkar Alta Monte,W E Highway Malad East Mumbai,Highway Malad,0 to 1 Year,Ready To Move,Super Built Up Area,2900,17241,14,3,4,500.0
1,T Bhimjyani Neelkanth Woods,Manpada Thane Mumbai,Manpada Thane,1 to 5 Year,Ready To Move,Super Built Up Area,1900,12631,8,3,3,240.0
2,Legend 1 Pramila Nagar,Dahisar West Mumbai,Dahisar Mumbai,10+ Year,Ready To Move,Super Built Up Area,595,15966,3,1,2,95.0
3,Unnamed Property,Vidyavihar West Vidyavihar West Central Mumbai...,Central Mumbai,5 to 10 Year,Ready To Move,Built Up Area,1450,25862,1,3,3,375.0
4,Unnamed Property,176 Cst Road Kalina Mumbai 400098 Santacruz Ea...,Santacruz Mumbai,5 to 10 Year,Ready To Move,Carpet Area,876,39954,5,2,2,350.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2575,Shagun White Woods,Sector 23 Ulwe Navi Mumbai Mumbai,Navi Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1180,10338,2,2,2,122.0
2576,Guru Anant,Sector 2 Ulwe Navi Mumbai Mumbai,Navi Mumbai,0 to 1 Year,Ready To Move,Built Up Area,1090,8073,11,2,2,88.0
2577,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Navi Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1295,10579,6,2,2,137.0
2578,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Navi Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1850,9243,6,3,3,171.0
2579,Gurukrupa Tulsi Heights,Ulwe Navi Mumbai Mumbai,Navi Mumbai,0 to 1 Year,Ready To Move,Built Up Area,1100,8636,4,2,2,95.0

In [36]:
property_mumbai = data.to_csv('Datasets\Mumbai_Property.csv', index = False)

In [37]:
data_mumbai = pd.read_csv('Datasets\Mumbai_Property.csv')
data_mumbai

,Property_Name,Location,Region,Property_Age,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
0,Omkar Alta Monte,W E Highway Malad East Mumbai,Highway Malad,0 to 1 Year,Ready To Move,Super Built Up Area,2900.0,17241,14,3,4,500.0
1,T Bhimjyani Neelkanth Woods,Manpada Thane Mumbai,Manpada Thane,1 to 5 Year,Ready To Move,Super Built Up Area,1900.0,12631,8,3,3,240.0
2,Legend 1 Pramila Nagar,Dahisar West Mumbai,Dahisar Mumbai,10+ Year,Ready To Move,Super Built Up Area,595.0,15966,3,1,2,95.0
3,Unnamed Property,Vidyavihar West Vidyavihar West Central Mumbai...,Central Mumbai,5 to 10 Year,Ready To Move,Built Up Area,1450.0,25862,1,3,3,375.0
4,Unnamed Property,176 Cst Road Kalina Mumbai 400098 Santacruz Ea...,Santacruz Mumbai,5 to 10 Year,Ready To Move,Carpet Area,876.0,39954,5,2,2,350.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2575,Shagun White Woods,Sector 23 Ulwe Navi Mumbai Mumbai,Navi Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1180.0,10338,2,2,2,122.0
2576,Guru Anant,Sector 2 Ulwe Navi Mumbai Mumbai,Navi Mumbai,0 to 1 Year,Ready To Move,Built Up Area,1090.0,8073,11,2,2,88.0
2577,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Navi Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1295.0,10579,6,2,2,137.0
2578,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Navi Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1850.0,9243,6,3,3,171.0
2579,Gurukrupa Tulsi Heights,Ulwe Navi Mumbai Mumbai,Navi Mumbai,0 to 1 Year,Ready To Move,Built Up Area,1100.0,8636,4,2,2,95.0